.recipe {
  line-height: 2rem;
  &__equipment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ingredients,
    .info,
    .tools {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px;
    }
    .ingredients {
      width: 66.666%;
    }
    .info {
      width: 33.333%;
    }
    .tools {
      width: 100%;
    }
    ul {
      li {
        position: relative;
        margin-bottom: 5px;
        padding-left: 10px;
        &:before {
          content: "-";
          position: absolute;
          left: 0px;
        }
      }
    }
    @include media("tablet-large") {
      .ingredients,
      .info {
        width: 100%;
      }
    }
  }
  .directions {
    margin: 30px 0px;
  }
  .notes {
    margin: 30px 0px;
  }
  ol {
    list-style: decimal;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-inline-start: 5px;
      margin-left: 28px;
    }
  }
}
